* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
#container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.email {
    font-size: 13px;
}
.email-box {
    background-color: lightpink;
    border: 1px solid;
    padding: 10px 15px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.email-box div:first-child {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.text {
    font-size: 15px;
    margin-top: 10px;
}

.button {
    background-color: transparent;
    border: 1px solid;
    padding: 4px 15px;
    cursor: pointer;
}
.errorTitle {
    text-align: center;
    font-size: 30px;
    color: red;
}
